//variable
$primary_color: #5cffb8;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: $primary_color;
    font-family: "Poppins", sans-serif;

    & h1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

.dict_container {
    background-color: #fff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);

    &_search {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &_inp {
            padding: 6px;
            width: 70%;
            border: none;
            border-radius: 5px;
            outline: none;
            font-size: 18px;
            border-bottom: $primary_color 2px solid;

            &:hover {
                border-bottom: $primary_color 3px solid;
            }
        }

        &_btn {
            padding: 15px 0;
            width: 25%;
            background-color: $primary_color;
            border: none;
            outline: none;
            color: #ffffff;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    &_word {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 30px 0 5px 0;

        & button {
            border: none;
            outline: none;
            background-color: transparent;
            color: #53f5af;
            font-size: 18px;
        }
    }

    &_detail {
        display: flex;
        color: grey;
    }

    &_meaning {
        position: relative;
        padding: 2rem 0;
        width: 50vmin;
        color: #575a7b;
    }

    &_example {
        margin-top: 2rem;
        padding-left: 10px;
        border-left: $primary_color 5px solid;

        &:hover {
            & .line {
                width: 5px;
                height: 22px;
                transition: linear all 0.2s;

            }
        }

    }
}

footer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
    z-index: -1;
}

.error {
    color: rgba(225, 46, 46, 0.926);
    text-align: center;
    margin-top: 2rem;
    font-size: 18px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .dict_container {
        width: 90%;
    }
}